* {
  color: black;
  margin: 0.1em;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(-90deg, #ffae00, #7e03aa, #00fffb);
}

body {
  background-color: rgb(87, 84, 129);
  text-decoration: none;
  font-size: 35px;
}

header {
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
  height: 5rem;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  letter-spacing: 0.01em;
}

header div i {
  font-size: 36px;
}

li {
  list-style: none;
  font-size: 16px;
}

header li {
  display: flex;
  gap: 55px;
}

footer {
  border: 3px solid black;
  text-align: center;
  width: 95%;
  bottom: 0;
  font-size: 15px;
  padding-block: 15px;
  letter-spacing: 00.2em;
  margin-left: 30px;
}

