@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  color: red;
  margin: 0.1em;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  background: black;
}

body {
  text-decoration: none;
  font-size: 35px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3.5rem;
  height: 5rem;
  font-weight: 700;
  align-items: center;
  padding: 10px 15px;
  letter-spacing: 0.01em;
}

header div i {
  font-size: 36px;
}

li {
  list-style: none;
  text-decoration: none;
  font-size: 26px;
}

header li {
  display: flex;
  gap: 55px;
}

footer {
  border: 3px solid red;
  text-align: center;
  width: 95%;
  bottom: 0;
  font-size: 15px;
  padding-block: 15px;
  letter-spacing: 00.2em;
  margin-left: 30px;
}

.card-container {
  display: flex;
  width: 100%;
  padding: 0 1em;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  max-width: 350px;
  padding: 0.5em 0.5em;
  margin: 1rem;
  border-radius: 8px;
}

.card-img {
  width: 300px;
  height: 300px;
  background: white;
}

.description {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.details {
  width: 70%;
  font-size: 1.3rem;
}

.likes {
  color: rgb(224, 221, 221);
  align-items: flex-end;
  flex-direction: column;
  font-size: 0.8em;
  width: 12%;
}

.span {
  font-size: 0.5em;
  margin-left: 80%;
}

button {
  cursor: pointer;
  background-color: red;
  color: #fff;
  padding: 0.8em 1.5em;
  border: none;
  font-family: inherit;
  width: 100%;
}
