@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  color: red;
  margin: 0.1em;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  background: black;
  text-decoration-line: none;
}

body {
  text-decoration: none;
  font-size: 35px;
}

.logo {
  font-family: "Lucida Handwriting", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3.5rem;
  height: 5rem;
  font-weight: 700;
  align-items: center;
  padding: 10px 15px;
  letter-spacing: 0.01em;
}

header div i {
  font-size: 36px;
}

li {
  list-style: none;
  text-decoration: none;
  font-size: 26px;
}

header li {
  display: flex;
  gap: 55px;
}

footer {
  border: 3px solid red;
  text-align: center;
  width: 95%;
  bottom: 0;
  font-size: 15px;
  padding-block: 15px;
  letter-spacing: 00.2em;
  margin-left: 30px;
}

.card-container {
  display: flex;
  width: 100%;
  padding: 0 1em;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  max-width: 350px;
  padding: 0.5em 0.5em;
  margin: 1rem;
  border-radius: 8px;
}

.card-img {
  width: 300px;
  height: 300px;
  background: white;
  border: 1px solid red;
}

.description {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.details {
  width: 70%;
  font-size: 1.3rem;
}

.likes {
  color: rgb(224, 221, 221);
  align-items: flex-end;
  flex-direction: column;
  font-size: 0.8em;
  width: 12%;
}

.span {
  font-size: 0.5em;
  margin-left: 78%;
}

button {
  cursor: pointer;
  background-color: red;
  color: #fff;
  padding: 0.8em 1.5em;
  border: none;
  font-family: inherit;
  width: 100%;
  border-radius: 13px;
}

.modal {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(58, 47, 66, 0.11);
  padding: 1em;
  transition: all 0.5s ease-in-out;
}

.modal.hidden {
  display: none;
}

.content {
  padding: 1em 0.5em;
  min-height: 89vh;
  max-width: 77%;
  max-height: 600px;
  overflow-y: auto;
  transform: scale(0);
  transition: transform 1s ease-in-out;
  border-radius: 8px;
  flex-direction: column;
  text-align: center;
  margin-left: 13%;
}

.content.active {
  transform: scale(1);
  border: 1px solid;
}

.modal-img {
  width: 33%;
  height: 300px;
  align-items: center;
  border: 1px solid;
}

.modal-details {
  flex-direction: column;
  align-items: center;
}

.modal-details p {
  font-size: 0.75rem;
  line-height: 1.7;
  text-align: center;
}

.bx-x {
  position: absolute;
  top: 2%;
  right: 3%;
  color: white;
  color: var(--blend-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.comment {
  display: flex;
  width: 82%;
  justify-content: center;
  font-size: 0.7rem;
  margin-bottom: 0.7rem;
  margin-left: 15%;
}

.comment-msg {
  width: 60%;
  color: wheat;
  text-align: left;
  padding-left: 4%;
}

.comment-date {
  color: rgb(69, 121, 101);
}

form {
  width: 49%;
  margin: 0 auto;
}

input,
textarea {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgb(230, 228, 228);
  border-radius: 8px;
  padding: 0.5em 0.7em;
  color: white;
  font-family: inherit;
  margin-bottom: 0.4rem;
}

textarea {
  height: 100px;
}

.heading {
  text-align: center;
  font-weight: 300;
  font-size: 1.4rem;
  margin: 0.7rem 0;
}

#count {
  margin-left: -55px;
}